# DataSet
![data](image(1).png)

In [57]:
import numpy as np
data = np.array([[30.0, 'unemployed', 'married', 1787.0, 'no', 'no', 'cellular','oct'],

       [33.0, 'services', 'married', 4789.0, 'yes', 'yes', 'cellular','may'],

       [35.0, 'management', 'single', 1350.0, 'yes', 'no', 'cellular','apr'],

       [30.0, 'management', 'married', 1476.0, 'yes', 'yes', 'unknown','jun'],

       [59.0, 'blue-collar', 'married', 0.0, 'yes', 'no', 'unknown','may'],

       [35.0, 'management', 'single', 747.0, 'no', 'no', 'cellular','feb'],

       [36.0, 'self-employed', 'married', 307.0, 'yes', 'no', 'cellular','may'],

       [39.0, 'technician', 'married', 147.0, 'yes', 'no', 'cellular','may'],

       [41.0, 'entrepreneur', 'married', 221.0, 'yes', 'no', 'unknown','may'],

       [43.0, 'services', 'married', -88.0, 'yes', 'yes', 'cellular','apr'],

       [39.0, 'services', 'married', 9374.0, 'yes', 'no', 'unknown','may'],

       [43.0, 'admin.', 'married', 264.0, 'yes', 'no', 'cellular', 'apr'],

       [36.0, 'technician', 'married', 1109.0, 'no', 'no', 'cellular','aug'],

       [20.0, 'student', 'single', 502.0, 'no', 'no', 'cellular', 'apr'],

       [31.0, 'blue-collar', 'married', 360.0, 'yes', 'yes', 'cellular','jan'],

       [40.0, 'management', 'married', 194.0, 'no', 'yes', 'cellular','aug'],

       [56.0, 'technician', 'married', 4073.0, 'no', 'no', 'cellular','aug'],

       [37.0, 'admin.', 'single', 2317.0, 'yes', 'no', 'cellular', 'apr'],

       [25.0, 'blue-collar', 'single', -221.0, 'yes', 'no', 'unknown','may'],

       [31.0, 'services', 'married', 132.0, 'no', 'no', 'cellular','jul']], dtype=object)
data

array([[30.0, 'unemployed', 'married', 1787.0, 'no', 'no', 'cellular',
        'oct'],
       [33.0, 'services', 'married', 4789.0, 'yes', 'yes', 'cellular',
        'may'],
       [35.0, 'management', 'single', 1350.0, 'yes', 'no', 'cellular',
        'apr'],
       [30.0, 'management', 'married', 1476.0, 'yes', 'yes', 'unknown',
        'jun'],
       [59.0, 'blue-collar', 'married', 0.0, 'yes', 'no', 'unknown',
        'may'],
       [35.0, 'management', 'single', 747.0, 'no', 'no', 'cellular',
        'feb'],
       [36.0, 'self-employed', 'married', 307.0, 'yes', 'no', 'cellular',
        'may'],
       [39.0, 'technician', 'married', 147.0, 'yes', 'no', 'cellular',
        'may'],
       [41.0, 'entrepreneur', 'married', 221.0, 'yes', 'no', 'unknown',
        'may'],
       [43.0, 'services', 'married', -88.0, 'yes', 'yes', 'cellular',
        'apr'],
       [39.0, 'services', 'married', 9374.0, 'yes', 'no', 'unknown',
        'may'],
       [43.0, 'admin.', 'married', 264.0, 'yes', 'no', 'cellular', 'apr'],
       [36.0, 'technician', 'married', 1109.0, 'no', 'no', 'cellular',
        'aug'],
       [20.0, 'student', 'single', 502.0, 'no', 'no', 'cellular', 'apr'],
       [31.0, 'blue-collar', 'married', 360.0, 'yes', 'yes', 'cellular',
        'jan'],
       [40.0, 'management', 'married', 194.0, 'no', 'yes', 'cellular',
        'aug'],
       [56.0, 'technician', 'married', 4073.0, 'no', 'no', 'cellular',
        'aug'],
       [37.0, 'admin.', 'single', 2317.0, 'yes', 'no', 'cellular', 'apr'],
       [25.0, 'blue-collar', 'single', -221.0, 'yes', 'no', 'unknown',
        'may'],
       [31.0, 'services', 'married', 132.0, 'no', 'no', 'cellular',
        'jul']], dtype=object)

## 1.What is the total bank balance of the first 5 records from the data?

In [58]:
np.sum(data[:5,3])

9402.0

## 2. What is the average bank balance?

In [59]:
np.mean(data[:,3])

1442.0

## 3. Count the number of people who has a housing?

In [69]:
print("Indices of people with housing : ",np.where(data[:,4]=="yes"))

Indices of people with housing :  (array([ 1,  2,  3,  4,  6,  7,  8,  9, 10, 11, 14, 17, 18], dtype=int64),)

In [67]:
print("Number of people with housing : ",len(np.where(data[:,4]=="yes")[0]))

Indices of people with housing :  13

## 4. No of people who have a "cellular" contact and also "married" and hold a "management" job?

In [72]:
c1=data[:,1]=="management"
c2=data[:,6]=='cellular'
c3=data[:,2]=='married'
print("Indices of people Satisfying all 3 conditions : ",np.where(c1 & c2 & c3)[0])
print("Number of people Satisfying all 3 conditions : ",len(np.where(c1 & c2 & c3)[0]))

Indices of people Satisfying all 3 conditions :  [15]
Number of people Satisfying all 3 conditions :  1