In [ ]:
pip install mysql-connector-python

In [6]:
import mysql.connector as m
conn=m.connect( host="localhost",
  user="root",
  password="password",)
print(conn)

<mysql.connector.connection.MySQLConnection object at 0x000001A9897EBDD0>

## Creating DataBase using a cursor

In [7]:
cur=conn.cursor()
cur.execute("CREATE DATABASE CSM")

## Connecting to the DataBase

In [8]:
db=m.connect(
  host="localhost",
  user="root",
  password="password",
  database="CSM")

print(db)

dbcur=db.cursor()

<mysql.connector.connection.MySQLConnection object at 0x000001A9897F80D0>

## Creating a Table

In [12]:
dbcur.execute("CREATE TABLE Products(Productname varchar(100),Cost int)");

In [13]:
dbcur.execute("SHOW TABLES")

for q in dbcur:
    print(q)

('products',)

## Inserting Data into the Table

In [17]:
sql='INSERT INTO products (Productname,Cost) Values (%s,%s)'
val=[('Pen',10),('Book',110),('Marker',30)]
dbcur.executemany(sql,val)
db.commit()

print(dbcur.rowcount,"rows are inserted.")

3 rows are inserted.

## Executing Some Basic Queries

In [18]:
dbcur.execute("SELECT * FROM products")
for row in dbcur:
    print(row)

('Pen', 10)
('Book', 110)
('Marker', 30)

In [19]:
dbcur.execute("SELECT Productname FROM products where cost<50")
for row in dbcur:
    print(row)

('Pen',)
('Marker',)